src/main/mule/mule-build-https-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="mule-build-https-serviceFlow" doc:id="97d7aad4-c6cb-4676-b3e4-1a0cc8a532a7" >
		<http:listener doc:name="Listener" doc:id="94e23ebc-7ea6-49da-8150-5d6ab2a2f1ad" path="/hello" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="8979e54f-aa43-4a59-9b4d-7546ec695286" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"hello"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e689628f-9efa-4718-91a7-f0e2a9288fc5" message="#[payload]"/>
	</flow>
</mule>
